body {
    width: 1440px;
    
}

.top-nav {
    display: flex;
    box-sizing: border-box;
    width: 1440px;
    height: 80px;
    background-color: var(--White, #FFF);
    margin-left: 60px;
    }

.logo-link { 
color: #22202E;
font-family: Montserrat;
font-size: 24px;
font-weight: 400;
padding: 25px 0 25px 80px;
text-decoration: none;
align-items: center;
}

.top-links {
    display: flex;
    justify-content: center;
    gap: 44px;
    align-items: center;
    text-align: center;
    padding-left: 149px;
}

.top-links-list {
color: #726E8D;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
}

a {text-decoration: none;}

.tom-nav-img {
    justify-content: center;
    box-sizing: border-box;
    padding: 28px 0px 25px 281px;
    margin-left: 40px;
   }

.img-nav {
    gap: 16px;
    justify-content: end;
    text-align: center;
}

.header {    
width: 1440px;
height: 223px;
box-sizing: border-box;
justify-content: center;
margin-top: 80px;

}

.header-title {
    display: flex;
    margin-left: 80px;
    text-align: center;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%; 
    justify-content: center;
   margin-bottom: 0;
}


.header-menu {
    margin-left: 80px;
    display: flex;
    width: 1280px;
    height: 64px;
    padding: 8px 24px;
    align-items: flex-start;
    flex-shrink: 0;
    
    
}

.filters {
    display: flex;
    justify-content: flex-start;
    padding: 12px 24px;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
    
}

.sort {
    display: flex;
    justify-content: end;
    margin-left: 350px;
    padding: 12px 24px;
    align-items: center;
    gap: 40px;
    
}

select {
    border: none;
}

 
.main {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 510px;
justify-content: center;
align-items: center;
gap: 20px;
box-sizing: border-box;
margin: 0 0 0 80px;
text-align: center;
}

.name { 
color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
align-items: start;
text-align: start;
padding-left: 10px;
}

.price { 
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: start;
    padding-left: 10px;
}

.button-main {
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
grid-column: 2/4;
box-sizing: border-box;
border: none;
margin-bottom: 40px;

}

.sing-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 270px 270px;
    margin-bottom: 0;

    }

.image-sing {
    grid-row: 1/3;
    width: 720px;
    height: 521px;
    background-image: url('//img/room.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.email {
    grid-row: 1/2;
   grid-column: 2/4;
}

.email-text1 {
color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 72px;
margin-left: 49px;
width: 541px;
height: 39px;

}

.email-text2 {
color: var(--Dark-Primary, #2A254B);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-left: 49px;
margin-top: 21px;
width: 470px;
height: 48px;
}

.sing-but {
    grid-row: 2/3;
    grid-column: 2/4;
    display: flex;
    width: 472px;
    align-items: flex-start;
       
}

.button-sing {
    background-color: #2A254B;
    color: #FFFFFF;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 72px;
    margin-top: 130px;

}


.footer {
width: 1440px;
height: 380px;
background-color: #2A254B;
margin: 0;

}





















